& {
    color-scheme: dark light;
    background-color: light-dark(#fafafa, #151515);
}

body {
    max-width: 600px;
    margin-inline: auto;
}

hr {
    color: light-dark(#a526b6, #b528d1);
}

.avatar {
    max-width: 60%;
    margin-inline: auto;
    display: block;
    border-radius: 60px;
}

.nickname {
    text-align: center;
    font-size: larger;
    margin-bottom: 0;
    font-weight: bold;
}

.pronouns {
    text-align: center;
    font-size: large;
    margin-top: 0;
}

.bio > *{
    margin: 0;
}

.links {
    columns: 3
}